<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%- include('./partials/head.ejs') %>
    <style>
      .full-height {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main class="container d-flex flex-column align-items-center">
      <h1 class="display-5 text-center">Login User</h1>
      <form action="/login/authenticate" method="POST" class="">
        <div class="mb-3">
          <label for="inputemail" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="inputemail" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll share your email with everyone else.</div>
        </div>
        <div class="mb-3">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="InputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a href="/register">Register new user</a>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>