<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <%- include('./partials/head.ejs') %>
    <style>
      .full-height {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main class="container d-flex flex-column align-items-center">
      <h1 class="display-5 text-center">Register New User</h1>
      <form action="/register/adduser" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
